{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="https://icons8.ru/icon/PnGqCiGjfpSQ/people-working-together" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Forum</title>
    
</head>
<body>
    
    {{ template "header" . }}
    {{ template "topheader" . }}


    {{ range .Posts }}
    <div class="posts">
        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/writer-male.png" alt="writer-male"/>  <h3>{{ .Username }}</h3>
        <h2>{{ .Title }}</h2>
        <h4>{{ .Abstract }}</h4>
        <div class="more">
            <form action="/moreId" method="post">
                <a href="/post?id={{ .Id }}" class="more-link">Read more ➞ </a>
            </form>
        </div>
        <div class="like-container">
            <button type="button" class="like-button" data-post-id="{{ .Id }}"> 
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsUlEQVR4nO2SwQnCQBBFH+LBMqxAbMACIgQvgl5zswQrsAhLsAsTPNuD8WIBnhJYmduwJMqSGVDww7/M7L63h4UvzQzIgZEHfAs0QAD21vCNgkuPlvB1BJfuPOEBmHvCn8B4KHzVA5eeLV5f98A/Ve5lGnRRy0rNw4DetCBeWgjCzwvu3oKDp6AFpp6Ck4Z7CBaegmsMtxYUKYI6Ef4AJl2CSh0q1TxLkMi/X3bB/+FdXlQTCqUh2JuTAAAAAElFTkSuQmCC">
            </button>
            <span class="like-count" data-post-id="{{ .Id }}"> {{ .Likes }} </span>
            <button type="button" class="dislike-button" data-post-id="{{ .Id }}">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoklEQVR4nO3SMQrCQBRF0QsJrsTCRrIFU7oDGwt3I1gL2UAqqyzF1kIQBIv0go0/VUAGJ2TCf2DhhV8NvNMM/EvIPq5vA7TB27d7AOspQDtivL87MEsFLPG2auCsBgxYqYFGDbyBhRIw4KgGbmrA1MB1LPCcOB79qmHVwNAShzKgjgB7D2AIueBYFkHmnkgOnAJg5wmEyAsoEJQDB6BUjP9eHSR05B+39/uOAAAAAElFTkSuQmCC">
            </button>
            <span class="dislike-count" data-post-id="{{ .Id }}"> {{ .Dislikes }} </span>
            <img  width="48" height="48" src="https://img.icons8.com/sf-regular-filled/48/comments.png" style="position: relative; left: 30px; top: -4px;" alt="comments"/>   <span class="comments" data-post-id="{{ .Id }}" style="position: relative; top: -4px;"> {{ .CommentsCount }}</span>
        </div>
    </div>
    {{ else }}
    <p>Пусто...</p>
    {{ end }}

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
        
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
</body>
</html>
{{ end }}
