

{{ define "post" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/path/to/your/style.css">
    <title>{{ .Post.Title }}</title>
</head>
<body>
    {{ template "header" }}
    <div class="post-page">
        <div class="post">
            
            <h2>{{ .Post.Title }}</h2>
            <h4 id="post-text">{{ .Post.Abstract }}</h4> <br>
            <h4 id="post-text">{{ .Post.FullText }}</h4>
            <div class="like-container">
                <button type="button" class="like-button" data-post-id="{{ .Post.Id }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsUlEQVR4nO2SwQnCQBBFH+LBMqxAbMACIgQvgl5zswQrsAhLsAsTPNuD8WIBnhJYmduwJMqSGVDww7/M7L63h4UvzQzIgZEHfAs0QAD21vCNgkuPlvB1BJfuPOEBmHvCn8B4KHzVA5eeLV5f98A/Ve5lGnRRy0rNw4DetCBeWgjCzwvu3oKDp6AFpp6Ck4Z7CBaegmsMtxYUKYI6Ef4AJl2CSh0q1TxLkMi/X3bB/+FdXlQTCqUh2JuTAAAAAElFTkSuQmCC">
                </button>
                <span class="like-count" data-post-id="{{ .Post.Id }}"> {{ .Post.Likes }} </span>
                <button type="button" class="dislike-button" data-post-id="{{ .Post.Id }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoklEQVR4nO3SMQrCQBRF0QsJrsTCRrIFU7oDGwt3I1gL2UAqqyzF1kIQBIv0go0/VUAGJ2TCf2DhhV8NvNMM/EvIPq5vA7TB27d7AOspQDtivL87MEsFLPG2auCsBgxYqYFGDbyBhRIw4KgGbmrA1MB1LPCcOB79qmHVwNAShzKgjgB7D2AIueBYFkHmnkgOnAJg5wmEyAsoEJQDB6BUjP9eHSR05B+39/uOAAAAAElFTkSuQmCC">
                </button>
                <span class="dislike-count" data-post-id="{{ .Post.Id }}"> {{ .Post.Dislikes }} </span>
                <span class="comments" data-post-id="{{ .Post.Id }}">
                    <img width="48" height="48" src="https://img.icons8.com/sf-regular-filled/48/comments.png" alt="comments"/>
                </span>
            </div>
        </div>

        <div class="comments-section">
            <h3>{{ .CommentCount }} Comments  </h3>
            <ul id="comments-list">
                {{ range .Comments }}
                    <li><strong>{{ .Username }}:</strong> {{ .Text }}</li>
                {{ end }}
            </ul>
            <form id="comment-form" method="post" action="/addcomment">
                <input type="hidden" name="post_id" value="{{ .Post.Id }}">
                <textarea name="comment" placeholder="Write a comment..." required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</body>
</html>
{{ end }}
