    {{ define "reg" }} 

        {{ template "header" }}

    
<div class="page"> 
    <div class="content">
        <div class="wrapper">
         <span class="icon-close">
             <ion-icon name="close"></ion-icon>
         </span>
     
     <div class="form-box login">
         <h3>Login</h3>
         <form action="/loginForm" id="login-form" method="POST" >
             <div class="input-box">
             <span class="icon"><ion-icon name="mail"></ion-icon></span>
             <input name="email" type="email" required>
             <label>Email</label>
             </div>
             <div class="input-box">
                 <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                 <input name="password" type="password" required>
                 <label>Password</label>
             </div>
             <div class="error-message" id="error-message" ></div>
           <button type="submit" class="btn">Login</button>
            
     
             <div class="login-register">
                 <p>Don't have an account?
                     <a href="#" class="register-link">Register</a>
                 </p>
             </div>
         </form>
     </div>
     
     <script>
        document.addEventListener('DOMContentLoaded', function() {
    console.log("Inline script executed");

    const loginForm = document.getElementById("login-form");
    console.log("Login form:", loginForm);

    if (loginForm) {
        loginForm.addEventListener("submit", function(event) {
            console.log("Form submitted");

            event.preventDefault();
            event.stopPropagation(); // добавьте это, чтобы остановить дальнейшую обработку событий

            // Disable the submit button to prevent multiple submissions
            const submitButton = this.querySelector('button[type="submit"]');
            submitButton.disabled = true;

            var formData = new FormData(this);
            var xhr = new XMLHttpRequest();

            xhr.open("POST", "/loginForm", true);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    submitButton.disabled = false; // Re-enable the submit button

                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log("Response received:", response);
                        if (response.success) {
                            window.location.href = "/";
                        } else {
                            document.getElementById("error-message").innerText = response.error;
                        }
                    } else {
                        console.error("Ошибка при выполнении запроса: " + xhr.status);
                    }
                }
            };
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.send(formData);
        }, { once: true });
    }
});

     </script>
    
     <div class="form-box register">
        <h3>Registration</h3>
        <form action="/register" id="reg-form" method="POST">
            <div class="input-box">
            
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input id="username" name="username" type="text" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input id="email" name="email" type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input id="password" name="password" type="password" required>
                <label>Password</label>
            </div>
            <div id="err-message" style="color: red;"></div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
                <p>Already have an account?
                    <a href="#" class="login-link">Login</a>
                </p>
            </div>
        </form>
    </div>


     </div>
     
     </div>

    </div>

 <script src="/script.js"></script>


     
</body>
  


{{ end }}


<!-- window.location.href = "/"; -->