* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


.posts {
    margin: 185px 0; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    width: 600px;
    position: relative;
    left: 850px;
}

.posts h2 {
    font-size: 1.5em; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #333; /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу */
}

.posts h4 {

    font-size: 1.1em; /* Размер шрифта */
    color: #555; /* Цвет текста */
    margin: 0;
}


.posts h3 {
    position: relative;
    top: -24px;
    left: 30px;
    font-size: 1.1em; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    margin: 0;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;

}
.content {
    position: relative;
    width: 40%;
    top: 5%;
    left: 40%;
    z-index: 100;
}


.wrapper {
   position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height, .2s ease;
}

.wrapper.non-active {
    display: none;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    text-align: center;
    width: 100%;
    padding: 40px;

}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    background: #000000;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);

}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);

}
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;

}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;

}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000000;
    line-height: 57px;

}
.remember-forgot {
    font-size: .9em;
    color: #000000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #000000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.btn {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}

.login-register {
    font-size: .9em;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
   text-decoration: underline;
}


.form-create {
    margin: 20px; /* Отступы со всех сторон */
    margin-left: 50%;
    padding: 15px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругление углов */
    background-color: #f9f9f9; /* Фоновый цвет */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    width: 50%; /* Ширина контейнера */
    max-width: 500px; /* Максимальная ширина */
}

/* Стиль для заголовка формы */
.form-create h3 {
    font-size: 1.2em; /* Размер шрифта */
    margin-bottom: 15px; /* Отступ снизу */
    color: #333; /* Цвет текста */
}

/* Стиль для формы */
.form-create form {
    display: flex; /* Используем flex-контейнер */
    flex-direction: column; /* Элементы располагаются вертикально */
}

/* Стиль для блока ввода */
.input-create {
    margin-bottom: 15px; /* Отступ снизу */
}

/* Стиль для полей ввода */
.input-create input,
.input-create textarea,
.input-create select { /* Добавлен стиль для select */
    width: 100%; /* Поля ввода занимают всю ширину блока */
    padding: 8px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругление углов */
    margin-bottom: 10px; /* Отступ снизу */
    font-size: 1em; /* Размер шрифта */
    resize: vertical; /* Разрешаем изменения размера только по вертикали для textarea */
}

/* Стиль для кнопки */
.btn {
    background-color: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель в виде руки при наведении */
    font-size: 1em; /* Размер шрифта */
}


.category {
  
    text-decoration: none;
    margin: 50px 0; /* Отступы сверху и снизу */
    margin-left: 300px;
    display: flex; /* Отображение элементов в виде flex-контейнера */
    justify-content: flex-start; /* Выравнивание элементов влево */
    gap: 10px; /* Отступ между кнопками */
}

/* Стиль для кнопок в контейнере категорий */
.category button {
    text-decoration: none;
    background-color: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель в виде руки при наведении */
    font-size: 1em; /* Размер шрифта */
    transition: background-color 0.3s ease; /* Плавный переход для изменения фона */
}

/* Эффект при наведении */
.category button:hover {
    background-color: #444; /* Изменяем цвет фона при наведении */
}



header {
    z-index: 1;
    display: flex;
    flex-direction: column; /* Переключаем на столбцовую компоновку */
    width: 250px; /* Устанавливаем фиксированную ширину */
    height: 100vh; /* Высота равна высоте экрана */
    position: fixed; /* Фиксируем заголовок на экране */
    left: 0; /* Заголовок будет находиться слева */
    top: 0; /* Заголовок будет привязан к верхнему краю экрана */
    background-color: #f5f5f5; /* Фоновый цвет */
    padding: 50px; /* Внутренний отступ */
    box-shadow: 0.2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка (логотипа) */
header h2.logo {
    font-size: 1.5em; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
    color: #333; /* Цвет текста */
}

/* Стили для навигационного контейнера */
header .nav {
    display: flex; /* Используем flex-контейнер */
    flex-direction: column; /* Элементы располагаются вертикально */
    gap: 10px; /* Отступ между ссылками */
}

/* Стили для ссылок навигации */
header .header-link,
header .loginBtn {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    font-size: 1.1em; /* Размер шрифта */
    padding-bottom: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

/* Эффект при наведении на ссылку */
header .header-link:hover,
header .loginBtn:hover {
    background-color: #ddd; /* Цвет фона при наведении */
}


.header-category {
 
    display: flex;
    background-color: #f5f5f5;
    width: 90%; 
    box-shadow: 0.2px 0 5px rgba(4, 3, 3, 0.1);
    position: fixed; /* Добавляем фиксированное положение */
    top: 0; /* Располагаем панель в верхней части экрана */
    left: 254px; /* Панель будет начинаться с левого края экрана */
    z-index: 1; /* Устанавливаем высокий z-index для перекрытия других элементов */
}




.like-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 200px;
    height: 60px;
    background-color: #e4e4e4;
  }
  .comments {
    margin-left: 40px;
  }
   
  .like-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
    margin-left: 3px;
  }
   
  .like-count {
    font-size: 18px;
    position: relative;
    right: 7px;
    top: -4px;
  }

  .dislike-count {
    font-size: 18px;
    position: relative;
    right: -13px;
    top: -4px;
  }


 .dislike-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    right: -10px;
  
 }


 .post {

    margin: 185px 0; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%;
    position: relative;
 
}

.post h2 {
    font-size: 1.5em; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #333; /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу */
}

.post h4 {

    font-size: 1.1em; /* Размер шрифта */
    color: #555; /* Цвет текста */
    margin: 0;
}


.post-page {
    background-color: rgba(241, 241, 241, 0.737);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.385); 
    position: relative;
    width: 40%;
} 

.comments-section {
   position: relative;
   top: -100px;


}

.comments-section h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

#comments-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#comments-list li {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#comments-list strong {
    font-weight: bold;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
}

#comment-form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

#comment-form button:hover {
    background-color: #000000b8;
}

.more-link {
    position: relative;
    top: 55px;
    left: 70%;
    text-decoration: none;
    background-color: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель в виде руки при наведении */
    font-size: 1em; /* Размер шрифта */
    transition: background-color 0.3s ease; 
}

#post-text {
    font-size: 1.1em; /* Размер шрифта */
    color: #555; /* Цвет текста */
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.5px; 
}


.delete-post {
    color: white;
    background-color: #000;
}
.Kategory {
    margin-bottom: 2%;
}
.checkboxes label {
    display: block; 
    margin-bottom: 2%;
  
    
}


.username {
    color: rgb(0, 0, 0);
    position: fixed;
    top: 50px;
    right: 150px;
    z-index: 2;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.like-button.liked img {
    filter: invert(36%) sepia(100%) saturate(4738%) hue-rotate(123deg) brightness(94%) contrast(95%);
}

.dislike-button.disliked img {
    filter: invert(73%) sepia(22%) saturate(6250%) hue-rotate(342deg) brightness(87%) contrast(90%);
}