{{ define "topheader" }}



{{ template "header" }}

<div class="page"> 

    <div class="header-category">
    <div class="category">
        <a href="/" style="text-decoration: none; color: #fff;"> <button> All</button></a>
        <a href="/sport" style="text-decoration: none; color: #fff;"><button>Sport</button></a>
        <a href="/trends" style="text-decoration: none; color: #fff;"><button>Trends</button></a>
        <a href="/humor" style="text-decoration: none; color: #fff;"class="category-link"><button>Humor</button></a>
    </div>

</div>




{{ end }}